body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  /* Prevent scrolling */
}

.container {
  background-color: #fff;
  padding: 2%;
  /* Use percentage for padding */
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 800px;
  /* Set a maximum width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #4CAF50;
  font-size: calc(1.5em + 1vw);
  /* Adjust font size based on viewport width */
  margin-bottom: calc(1em + 1vw);
  /* Adjust margin based on viewport width */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(1em + 1vw);
  /* Adjust margin based on viewport width */
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: calc(0.5em + 0.5vw) calc(1em + 1vw);
  /* Adjust padding based on viewport width */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: calc(1em + 1vw);
  /* Adjust font size based on viewport width */
  flex: 1;
  margin: 0 calc(0.5em + 0.5vw);
  /* Adjust margin based on viewport width */
}

button:hover {
  background-color: #45a049;
}

.preview-container {
  position: relative;
  margin: calc(1em + 1vw) 0;
  /* Adjust margin based on viewport width */
  width: 100%;
}

#previewText {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: calc(0.8em + 0.5vw);
  /* Adjust font size based on viewport width */
}

#previewImage {
  max-width: 100%;
  max-height: calc(30vh);
  /* Adjust height based on viewport height */
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  object-fit: contain;
}

#result {
  margin: calc(1em + 1vw) 0;
  /* Adjust margin based on viewport width */
  font-weight: bold;
  background-color: #e0e0e0;
  padding: calc(0.5em + 0.5vw);
  /* Adjust padding based on viewport width */
  border-radius: 16px;
  font-size: calc(1em + 0.5vw);
  /* Adjust font size based on viewport width */
}