/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.favorite-recipe {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.favorite-recipe img {
    width: 100%;
    height: auto;
}

.favorite-content {
    padding: 15px;
}

.favorite-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ff4500;
    /* Highlight favorite recipes with a different color */
}

.favorite-description {
    color: #666;
}

/* Add any additional styles specific to the favorites page here */
.menu-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.menu-button {
    background-color: #e8a978;
    /* Warm orange color for the menu button */
    color: #fff;
    border: none;
    border-radius: 8px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Padding to make it rectangular */
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

.menu-button:hover {
    background-color: #d1986a;
    /* Darken the button color on hover */
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff5e1;
    /* Cream color for the dropdown */
    border: 1px solid #d1986a;
    /* Warm brown border */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.menu-dropdown a {
    display: block;
    padding: 10px 20px;
    color: #d1986a;
    /* Warm brown color for the text */
    text-decoration: none;
    border-bottom: 1px solid #d1986a;
    /* Warm brown border */
}

.menu-dropdown a:last-child {
    border-bottom: none;
    /* Remove border for the last item */
}

.menu-dropdown a:hover {
    background-color: #e8a978;
    /* Warm orange color for hover */
    color: #fff;
}

.menu-button:hover+.menu-dropdown {
    display: block;
}

.menu-container:hover .menu-dropdown {
    display: block;
}